n8n_social_workflow.json
{
  "name": "Social Media Cross-Poster (FB, IG, Threads)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-social-post",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "custom-auto-post-001"
    },
    {
      "parameters": {
        "resource": "post",
        "operation": "create",
        "pageId": "={{ $json.body.fbPageId }}",
        "message": "={{ $json.body.caption }}"
      },
      "id": "2",
      "name": "Facebook Pages",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [500, 100]
    },
    {
      "parameters": {
        "operation": "createPost",
        "caption": "={{ $json.body.caption }}",
        "imageUrl": "={{ $json.body.imageUrl }}"
      },
      "id": "3",
      "name": "Instagram",
      "type": "n8n-nodes-base.instagram",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.threads.net/v1.0/me/threads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$json.body.threadsToken}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "media_type",
              "value": "TEXT"
            },
            {
              "name": "text",
              "value": "={{ $json.body.threadsCaption }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Threads API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Facebook Pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Threads API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
